* {
	transition: 0.3s all;
}
.base-div {
	width: 100%;
	background-color: transparent;
}

.float-div {
	position: fixed;
	right: -100px;
	top: 10px;
	background-color: red;
	width: 120px;
	transition: 0.2s all;
	border-radius: 10px;
	color: white;
}

.table {
	table-layout: fixed;
    width: 100%;
    text-align: center;
    border: solid thin #ddd;
    margin: 10px 0;
    border-spacing: 0px;
    font-family: verdana;
    font-size: 12px;
}

.table thead {
	background-color: #ddd;
}

body {
	margin: 0px;
}

.navbar {
	width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background: #f44336;
}

.navbar-tab {
	line-height: 70px;
    float: right;
    padding: 0 10px;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 14px;
    color: #fafafa;
    transition: 0.1s all ease-in;
}

.navbar-right a:hover {
	color: #fff;
	background-color: #D32F2F;
}

.sidebar {
	position: fixed;
    left: 0;
    top: 0;
    background: #f44336;
    width: 200px;
    height: 100%;
}

.sidebar a {
	display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 14px;
    color: #fafafa;
    transition: 0.1s all ease-in;
}

.sidebar a:hover {
	color: #fff;
	background-color: #D32F2F;
}

.sidebar a img {
	width: 100%;
}

.content {
	padding-top: 85px;
	padding-left: 215px;
}


.dropdown {
	position: relative;
}

.dropdown-menu {
    display: none;
	position: absolute;
    top: 70px;
    background: #f44336;
    right: 0px;
    margin: 0;
    padding: 0;
}

.dropdown:hover + .dropdown-menu, .dropdown-menu:hover {
	display: block;
}

.dropdown-menu li {
	list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown-menu li a {
	padding: 5px 15px;
    line-height: 32px;
    color: white;
    text-decoration: none;
    font-family: Verdana;
    font-size: 12px;
    margin: 0;
    width: 110px;
    display: block;
}

.hor-divider {
	background: #E53935;
    height: 5px;
}